#hero-area {
    background: $peach;
  
    .container {
      max-width: 1000px;
      width: 90%;
      padding: 100px 0;
      margin: auto;
      display: flex;
  
  
      img {
        width: 50%;
        object-fit: contain;
      }
  
      .content {
        h5 {
          color: $orange;
          font-size: 1.1em;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 20px;
        }
  
        h1 {
          font-size: 3em;
          color: $blue;
          margin-bottom: 20px;
        }
  
        p {
          font-family: $font2;
          line-height: 30px;
          margin-bottom: 20px;
        }
  
        a {
          background: $orange;
          color: white;
          padding: 10px 15px;
          border-radius: 4px;
          margin-right: 20px;
          transition: 0.3s;
  
          &:hover {
            box-shadow: 0 0 5px grey;
          }
        }
  
  
        span {
          font-weight: 600;
          font-size: 1.2em;
          color: $blue;
          position: relative;
          top: 2px;
        }
      }
    }
  }